body {
    background: url("../images/app.png");
    background-size: 100%;
    background-position: center no-repeat;
    color: #000000;
    font-family: 'HELVETICA', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #453F78;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    z-index: 2;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC94A;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #33333a7d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

.appointment-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    /* Flexbox properties for card width */
    max-width: calc(50% - 20px);
    /* 50% width with gap between cards */
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin-bottom: 15px;
    color: #666;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #45a049;
}

.results-container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.clinic {
    background: #453F78;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.clinic .clinic-name {
    font-size: 24px;
    font-weight: bold;
}

.clinic .clinic-address,
.clinic .clinic-phone {
    font-size: 18px;
}

.clinic .clinic-distance {
    font-size: 16px;
    font-style: italic;
    position: absolute;
    top: 20px;
    right: 20px;
}

.clinic .book-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFC94A;
    border: none;
    color: #453F78;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.clinic .book-button:hover {
    background-color: #453F78;
    color: #FFC94A;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    z-index: 3;
}
