body {
    font-family: Helvetica, sans-serif;
    background-color: #FFC94A;
    margin: 0;
    padding: 0;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    z-index: 3;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #453F78;
    /* Adjusted to semi-transparent */
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    z-index: 2;
    /* Ensure the nav is above the video */
}

nav a {
    color: #F5F7F8;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC94A;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #453F78;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

.appointment-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    /* Flexbox properties for card width */
    max-width: calc(50% - 20px);
    /* 50% width with gap between cards */
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin-bottom: 15px;
    color: #666;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #45a049;
}
