<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduler</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_app.css' %}">
</head>

<body>
    <header>
        <div class="logo">Pawcare</div>
        <nav>
            <a href="{%url 'home' %}">Home</a>
        </nav>
    </header>

    <body>
        <div class="container">
            <h1>Appointment Scheduler</h1>
            <div class="appointment-cards">
                <div class="card">
                    <h2>Slot 1</h2>
                    <p>Date: July 1, 2024</p>
                    <button>Book</button>
                </div>
                <div class="card">
                    <h2>Slot 2</h2>
                    <p>Date: July 2, 2024</p>
                    <button>Book</button>
                </div>
                <!-- Add more cards as needed -->
            </div>
        </div>
    </body>

</html>
