<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
        </staticContent>
        <handlers>
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
