body {
    background: #00000056;
    color: #ffffff;
    font-family: "Forum", serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pawss.png") no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 210px;
    width: calc(100% - 210px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h1 {
    margin: 0;
    padding: 50px 0 20px;
    font-size: 50px;
    text-align: center;
    font-family: "Forum", serif;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    z-index: 2;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC94A;
}

.s01 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Forum", serif;
    background-size: cover;
    background-position: center center;
    padding: 12px;
    border-radius: 20px;
    position: relative;
}

.s01 form {
    width: 100%;
    max-width: 1290px;
}

.s01 form legend {
    font-size: 72px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 60px;
}

.s01 form .inner-form {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
}

.s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
}

.s01 form .inner-form .input-field.first-wrap {
    flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
    width: 32.77%;
    min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #000000;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #f8f8f9;
}

legend {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: "Forum", serif;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: -120px;
}

.cta-container {
    padding: 30px;
    border-radius: 10px;
    margin-top: -200px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.cta-container p {
    color: #151515;
    font-size: 18px;
    margin-top: -200px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #151515;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: "Forum", serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    z-index: 3;
}
