body {
    background: #FFC94A;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #453F78;
    /* Adjusted to semi-transparent */
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    z-index: 2;
    /* Ensure the nav is above the video */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC94A;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    z-index: 3;
}

.results-container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.clinic {
    background: #453F78;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.clinic .clinic-name {
    font-size: 24px;
    font-weight: bold;
}

.clinic .clinic-address,
.clinic .clinic-phone {
    font-size: 18px;
}

.clinic .clinic-distance {
    font-size: 16px;
    font-style: italic;
    position: absolute;
    top: 20px;
    right: 20px;
}

.clinic .book-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #accffe;
    border: none;
    color: #0C2C47;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.clinic .book-button:hover {
    background-color: #0C2C47;
    color: #accffe;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
