<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pawcare</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
    </nav>
</header>

<body>
    <div class="wrapper">
        <div class="inner">
            <img src="{% static 'images/girl.png' %}" alt="" class="girl">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h3>Login</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button>
                    <span>Login</span>
                </button>
                <button>
                    <span>New to Pawcare? <a href="{% url 'register' %}">Register</a></span>
                </button>
            </form>
            <img src="{% static 'images/plant.png' %}" alt="" class="plant">
        </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
