<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/doctor_dashboard.css' %}">
</head>

<body>
    <nav>
        <a href="#" onclick="showTab('dashboard')">Dashboard</a>
        <a href="#" onclick="showTab('patients')">Patients</a>
        <a href="#" onclick="showTab('appointments')">Appointments</a>
    </nav>

    <header>
        <h1>Hello Dr. {{ vet.name }}</h1>
        <div class="header-right">
            <a href="{% url 'home' %}" class="home-icon"><i class="fas fa-home"></i></a>
            <i class="fas fa-user profile-icon" onclick="toggleModal()"></i>
        </div>
    </header>

    <div class="dashboard-container">
        <div id="dashboard" class="tab-content active">
            <div class="statistics-section">
                <h2>Statistics</h2>
                <div class="statistics-item">
                    <span>Total Patients:</span>
                    <span id="totalPatients">{{ total_pets }}</span>
                </div>
                <div class="statistics-item">
                    <span>Appointments Today:</span>
                    <span id="appointmentsToday">{{ appointments_today }}</span>
                </div>
                <div class="chart-container" id="barChartContainer"></div>
                <div class="table-container">
                    <h3>Appointment Details</h3>
                    <table id="appointmentTable">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.pet.name }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.complaints }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="patients" class="tab-content">
            <div class="form-container">
                <h2>Patient Details</h2>
                <table id="patientTable">
                    <thead>
                        <tr>
                            <th>Pet Name</th>
                            <th>Breed</th>
                            <th>Gender</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        <tr>
                            <td>{{ pet.name }}</td>
                            <td>{{ pet.breed }}</td>
                            <td>{{ pet.gender }}</td>
                            <td>{{ pet.age }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Add Patient Information</h2>
                <form id="patientForm" method="post" action="{% url 'vets:doctor_dashboard' vet.id %}">
                    {% csrf_token %}
                    {{ pet_owner_form.non_field_errors }}
                    <label for="name">Pet Owner Name:</label>
                    {{ pet_owner_form.name.errors }}
                    <input type="text" id="name" name="name" placeholder="John Doe" required>

                    <label for="username">Username:</label>
                    {{ pet_owner_form.username.errors }}
                    <input type="text" id="username" name="username" placeholder="johndoe" required>

                    <label for="email">Email:</label>
                    {{ pet_owner_form.email.errors }}
                    <input type="email" id="email" name="email" placeholder="example@example.com" required>

                    <label for="phone_number">Contact Number:</label>
                    {{ pet_owner_form.phone_number.errors }}
                    <input type="tel" id="phone_number" name="phone_number" placeholder="555-555-5555" required>

                    {{ pet_form.non_field_errors }}
                    <label for="pet_name">Pet Name:</label>
                    {{ pet_form.name.errors }}
                    <input type="text" id="pet_name" name="pet_name" placeholder="Max" required>

                    <label for="breed">Breed:</label>
                    {{ pet_form.breed.errors }}
                    <input type="text" id="breed" name="breed" placeholder="Golden Retriever" required>

                    <label for="age">Age:</label>
                    {{ pet_form.age.errors }}
                    <input type="number" id="age" name="age" placeholder="30" required>

                    <label for="gender">Gender:</label>
                    {{ pet_form.gender.errors }}
                    <select id="gender" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>

                    <button type="submit" name="add_patient">Submit</button>
                </form>
            </div>
        </div>

        <div id="appointments" class="tab-content">
            <div class="form-container">
                <h2>Schedule an Appointment</h2>
                <form id="appointmentForm" method="post" action="{% url 'vets:doctor_dashboard' vet.id %}">
                    {% csrf_token %}
                    <label for="pet">Patient Name:</label>
                    <select id="pet" name="pet" required>
                        <option value="" disabled selected>Select Patient</option>
                        {% for pet in pets %}
                        <option value="{{ pet.id }}">{{ pet.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="appointmentDate">Appointment Date:</label>
                    <input type="date" id="appointmentDate" name="appointmentDate" required>

                    <label for="appointmentTime">Appointment Time:</label>
                    <input type="time" id="appointmentTime" name="appointmentTime" required>

                    <label for="reason">Reason for Appointment:</label>
                    <input type="text" id="reason" name="reason" placeholder="Check-up" required>

                    <button type="submit" name="schedule_appointment">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="toggleModal()">&times;</span>
            <div class="profile-section">
                <h2>Dr. {{ vet.name }}'s Profile</h2>
                <p>Name: {{ vet.name }}</p>
                <p>Email: {{ vet.email }}</p>
                <p>Phone: {{ vet.phone_number }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // JavaScript for toggling tabs
        function showTab(tabId) {
            const tabs = document.getElementsByClassName('tab-content');
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove('active');
            }
            document.getElementById(tabId).classList.add('active');
        }

        // JavaScript for toggling modal
        function toggleModal() {
            const modal = document.getElementById('profileModal');
            if (modal.style.display === "block") {
                modal.style.display = "none";
            } else {
                modal.style.display = "block";
            }
        }
    </script>
</body>

</html>
