<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pawcare - Doctor Login & Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/drl.css' %}">
</head>

<body>
    <header>
        <div class="logo">Pawcare</div>
        <h1 id="head"></h1>
        <nav>
            <a href="{%url 'home' %}">Home</a>
        </nav>
        <h1 class="intro">Are you a Veterinarian? Register with us now to access EHR services.</h1>
    </header>

    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form method="post" action="{% url 'vets:login' %}">
                        {% csrf_token %}
                        <div class="group">
                            {{ login_form.username.errors }}
                            <label for="user" class="label">Email Address</label>
                            <input id="user" type="text" class="input" name="username" required>
                        </div>
                        <div class="group">
                            {{ login_form.password.errors }}
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" name="password"
                                required>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                    </form>
                    <div class="hr"></div>
                </div>

                <div class="sign-up-htm">
                    <form method="post" action="{% url 'vets:register' %}">
                        {% csrf_token %}
                        <div class="group">
                            <label for="email" class="label">Email Address</label>
                            {{ form.username.errors }}
                            <input id="email" type="email" class="input" name="username" required>
                        </div>
                        <div class="group">
                            <label for="new-user" class="label">Name</label>
                            {{ form.name.errors }}
                            <input id="new-user" type="text" class="input" name="name" required>
                        </div>
                        <div class="group">
                            <label for="new-pass" class="label">Password</label>
                            {{ form.password1.errors }}
                            <input id="new-pass" type="password" class="input" data-type="password" name="password1"
                                required>
                        </div>
                        <div class="group">
                            <label for="repeat-pass" class="label">Repeat Password</label>
                            {{ form.password2.errors }}
                            <input id="repeat-pass" type="password" class="input" data-type="password" name="password2"
                                required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
