<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Login & Signup Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/drl.css' %}">
</head>

<body>
    <section class="wrapper">
        <div class="form signup">
            <header>Signup</header>
            <form method="post" action="{% url 'vets:register' %}">
                {% csrf_token %}
                {{ form.username.errors }}
                <input type="text" name="username" placeholder="Email address" required
                    value="{{ form.username.value|default_if_none:'' }}" />

                {{ form.name.errors }}
                <input type="text" name="name" placeholder="Full name" required
                    value="{{ form.name.value|default_if_none:'' }}" />

                {{ form.password1.errors }}
                <input type="password" name="password1" placeholder="Password" required />

                {{ form.password2.errors }}
                <input type="password" name="password2" placeholder="Confirm Password" required />

                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" />
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>
                <input type="submit" value="Signup" />
            </form>
        </div>

        <div class="form login">
            <header>Login</header>
            <form method="post" action="{% url 'vets:login' %}">
                {% csrf_token %}
                {{ login_form.username.errors }}
                <input type="text" name="username" placeholder="Email address" required />

                {{ login_form.password.errors }}
                <input type="password" name="password" placeholder="Password" required />

                <a href="{% url 'vets:password_reset' %}">Forgot password?</a>
                <input type="submit" value="Login" />
            </form>
        </div>

        <script>
            const wrapper = document.querySelector(".wrapper"),
                signupHeader = document.querySelector(".signup header"),
                loginHeader = document.querySelector(".login header");

            loginHeader.addEventListener("click", () => {
                wrapper.classList.add("active");
            });
            signupHeader.addEventListener("click", () => {
                wrapper.classList.remove("active");
            });
        </script>
    </section>
</body>

</html>
