<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pawcare</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body class="fadeIn">
    <div class="background"></div>
    <header>
        <section>
            <div class="logo">Pawcare</div>
            <nav>
                <a href="{% url 'pet_owners:register'%}">Pet Login/Register</a>
            </nav>
            <p>Your Trusted Partner in Pet Care</p>
        </section>
    </header>

    <section class="section">
        <h2>Our Services</h2>
        <div class="card-container">
            <a href="{% url 'vets:register'%}">
                <figure>
                    <img src="{% static 'images/vet.png' %}" alt="vet">
                    <figcaption>Vet Services</figcaption>
                </figure>
            </a>
            <a href="{% url 'vets:vet_search'%}">
                <figure>
                    <img src="{% static 'images/vet.png' %}" alt="vet">
                    <figcaption>Appointments</figcaption>
                </figure>
            </a>
            <a href="{% url 'recreation:rec_search' %}">
                <figure>
                    <img src="{% static 'images/vet.png' %}" alt="Pet Boarding and Recreational Areas">
                    <figcaption>Pet Boarding and Recreational Areas</figcaption>
                </figure>
            </a>
        </div>
    </section>

    <div class="scroll-buttons">
        <button onclick="scrollToTop()">Scroll to Top</button>
        <button onclick="scrollToBottom()">Scroll to Bottom</button>
    </div>

    <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }

        function scrollToBottom() {
            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
        }
    </script>
</body>

</html>
