body {
    margin: 0;
    color: #000000;
    background: none;
    font: 600 16px/18px 'helvetica', sans-serif;
    position: relative;
    z-index: 0;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/prl.08b7c25b2252.png") no-repeat center center;
    background-size: 100%;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 50px 0;
    font: 20px "Helvetica";
    text-align: left;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFC94A;
    /* Adjusted to semi-transparent */
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    z-index: 2;
    /* Ensure the nav is above the video */
}

nav a {
    color: #010101;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000000;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 550px;
    position: relative;
    background: no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    width: 100%;
    height: 110%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(69, 63, 120, 0.737);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 15px 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #FFC94A;
    border-color: #ffffff;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #000000;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.589);
}

.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #070707;
    font-size: 12px;
}

.login-form .group .button {
    background: #272626a0;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: #060606;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #FFC94A;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #000000;
}

.login-form .group .check:checked+label .icon {
    background: #2e2e2f93;
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 30px 0 20px 0;
    background: #FFC94A;
}

.foot-lnk {
    text-align: center;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    z-index: 3;
}
